.menuBar {
    width: 90%;
    padding: 15px 5%;
    margin-bottom: 60px;
    color: white;
    /* color: lightpink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-image: linear-gradient( 270deg, rgba(176, 42, 42, .16) 0%, rgba(176, 42, 42, .56) 18.45%, rgba(176, 42, 42, .8) 49.67%, rgba(176, 42, 42, .56) 82.52%, rgba(176, 42, 42, .196364) 99.7%, rgba(189, 40, 40, 0) 99.71%, rgba(203, 56, 55, 0) 99.72%, rgba(203, 56, 55, .16) 99.73%), url(https://static.npmjs.com/abf53a31b2da4657a1a004ee9358551c.png);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .logo a {
    display: flex;
    align-items: center;
    color: rgb(255, 200, 208);
    transition: ease-in-out 250ms;
  }

  .logo a:hover {
    transform: scale(0.98);
    text-decoration: none;
    color: wheat;
  }

  .logo_x {
    height: 65px;
    width: 80px;
    background-size: 125%;
    background-position: center;
    background-image: url('https://cdn.shopify.com/s/files/1/0533/2536/5445/files/Firefly_Botanical_Logo_Off_Pack-03-core.png?v=1611749339');
  }

  .links {
    width: auto;
    display: flex;
    justify-content: space-between;
  }
  
  .links > * {
    margin: 0 10px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }

  .user {
    color: wheat;
  }

  .mainFeed {
    position: relative;
    top: -35px;
    width: 40% !important;
    margin: 0 auto !important;
    padding: 25px;
    border: 1px solid rgb(230, 230, 230);
  }

  h2 {
    margin: 0;
    font-weight: 500;
  }

  .center {
    text-align: center;
  }

  .feedHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100px;
    margin-bottom: 15px;
  }

  button {
    border-radius: 3px;
    border: none;
    background-color: #0a95ff;
    padding: 10px 15px;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
  }

  button:hover {
    background-color: #077cd6;
    cursor: pointer;
  }

  .flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .questionDiv {
    display: flex;
    padding: 35px 0;
    border-top: 1px solid rgb(230, 230, 230);;
  }

  .questionDiv p, .answers p {
    margin: 0;
  }

  .questionDiv a {
    color: #0074cc;
    font-size: 1.1rem;
    text-decoration: none;
  }

  .questionDiv a:hover {
    color: #0a95ff;
  }

  .ratings {
    width: 22.5%;
    padding-right: 25px;
    margin-top: 3px;
  }

  .questions {
    width: 77.5%;
  }

  .desc, .ratings, .answers {
    font-size: 0.8rem;
  }

  hr {
    border: none;
    border-bottom: 1px solid rgb(230, 230, 230);
  }

  .mainFeed input[type=text], textarea {
    font-size: 0.825rem;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 97.5%;
    resize: vertical;
    padding: 5px;
}

.whiteBtn {
  background-color: white;
  color: unset;
  border-radius: 0;
  margin-left: -1px;
  border: 1px solid rgb(230, 230, 230);
}

.greenBtn {
  background-color: #1bd09f;
  color: white;
}

.whiteBtn:hover {
  background-color: #e3e6e8;
}

.greenBtn:hover {
  background-color: #17b389;
  color: white;
}

.answers {
  padding: 25px 0 25px 0;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  border-top: 1px solid rgb(230, 230, 230);
}

.author {
  font-size: 0.6rem;
  padding-bottom: 5px;
}

.halfOp {
  opacity: 0.6;
}

.question {
  color: #333333;
}

.underQuestion {
  margin-top: -9px;
}

.likeDislike > p {
  margin-right: 10px;
}

.edited {
  margin-left: 10px;
}

.answerLinks {
  line-height: 1.5rem;
  display: inline;
  cursor: pointer;
}

.deleteAnswer {
  color: red;
}

.answerLinks:hover {
  color: black;
  opacity: 1;
}

.likeAnswer {
  color: #0074cc;
}

.disLikeAnswer {
  color: rgb(155, 155, 155);
}

.green {
  color: rgb(0, 222, 111);
}